<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>jvf_QA</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb217899045577547</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.citrusbits.Hackfest-swvl.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Hackfest-swvl://</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>15</string>
	<key>FacebookAppID</key>
	<string>217899045577547</string>
	<key>FacebookDisplayName</key>
	<string>Hackfest-swvl</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Hackfest-swvl uses your camera to take photos.</string>
	<key>NSContactsUsageDescription</key>
	<string>Upload your contacts to Hackfest-swvl&apos;s server to help you quickly get in touch with your friends and help us provide a better experience</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Hackfest-swvl uses this to help you find people near you, connect with friends, and more.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Hackfest-swvl uses this to help you find people near you, connect with friends, and more.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Hackfest-swvl needs access to your microphone.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Hackfest-swvl will let you choose you photos from your library.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Black.otf</string>
		<string>Montserrat-Bold.otf</string>
		<string>Montserrat-ExtraBold.otf</string>
		<string>Montserrat-ExtraLight.otf</string>
		<string>Montserrat-Light.otf</string>
		<string>Montserrat-Medium.otf</string>
		<string>Montserrat-Regular.otf</string>
		<string>Montserrat-SemiBold.otf</string>
		<string>Montserrat-Thin.otf</string>
		<string>MontserratAlternates-Black.otf</string>
		<string>MontserratAlternates-Bold.otf</string>
		<string>MontserratAlternates-ExtraBold.otf</string>
		<string>MontserratAlternates-ExtraLight.otf</string>
		<string>MontserratAlternates-Light.otf</string>
		<string>MontserratAlternates-Medium.otf</string>
		<string>MontserratAlternates-Regular.otf</string>
		<string>MontserratAlternates-SemiBold.otf</string>
		<string>MontserratAlternates-Thin.otf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-SemiBoldItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
