<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JvstFamovsAppStore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>JvstFamovsDev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>JvstFamovsQA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>JvstFamovsStaging.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>801D83BF2072279C00AAA8A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>801D83CE2072279E00AAA8A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>801D83DD207227A100AAA8A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>803E72C9206BAC5B00CAA57D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
